button.active {
  background: #1aa;
}

button {
  display: inline-block;
  padding: 0.4em 0.8em;
  background: #666;
  border: 0;
  color: #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px 5px;
}

#Container .mix{
    display: none;
}

.sp-container{
    z-index: 9999999999;    
}

.webfusen{
    width: 240px;
    height: 120px;
    z-index: 9999999;
    background: rgba(255,255,255,0.5);
    border: 1px solid #ddd;
    opacity: 1;
    font-family: 'Hiragino Kaku Gothic Pro',Meiryo,'MS PGothic',Helvetica,Arial,sans-serif;
    position: relative;
    margin: 10px;
}

.webfusen-textarea-wrap{
	margin-top: 20px;
    width: 240px;
    height: 100px;
    resize: none;
    padding: 5px;
    box-sizing:border-box;
}

.webfusen-textarea{
    width: 100%;
    height: 100%;
    border:0px;
    resize: none;
    padding: 0px;
    background: none;
}

.webfusen-drag{
    height: 20px;
    width: 220px;
    left: 0;
    top: 0;
    background: #AFEEEE;
    float: left;
}

.webfusen-close{
    text-align: center;
    display: table;
    right: 0;
    top: 0px;
    width: 20px;
    height: 20px;
    background: #FF5042;
    cursor: default;
    font-size: 10px;
    float: left;
}

.webfusen-char{
    display: table-cell;
    vertical-align:middle;
}

.webfusen-config-button{
	position: absolute;
    background-image: url("images/iconmonstr-gear-icon-16.png");
    left: 1px;
    bottom: 1px;
    display: block;
    width: 16px;
    height: 16px;
}

.webfusen-config{
    display:none;
    background-color: #DCDCDC; 
}

ul.webfusen-config-menu{
    padding: 0;
    margin: 0;
    list-style: none;
}

li.webfusen-config-list{
    margin: 4px 0 8px 0;
    font-size: 10px;
}

.webfusen-config-menu-text{
    font-weight: bold;
}