body{
    width: 150px;
}

ul{
    padding: 0;
    margin: 0;
}

li.menu{
    list-style: none;
    height: 20px;
    margin: 4px 0 4px 0;
}

li.fusen{
    list-style: none;
    margin: 4px 0 4px 0;
}

li.no-fusen{
    margin: 4px 0 4px 0;
    color: #a9a9a9;
}

li.sep {
    height: 1px;
    background-color: #888888;
}

div.date{
    padding: 6px 0 6px 0;
    font-size: 8px;
    background-image: url(images/ico_ashcan1_1.gif);
    background-position: right;
    background-repeat: no-repeat;
}

a.menu{
	cursor: pointer;
}

